/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --cream: hsla(56, 85%, 89%, 1);
    --almond: hsla(27, 92%, 90%, 1);
    --baby-pink: hsla(356, 100%, 91%, 1);
    --pink-lavender: hsla(311, 64%, 85%, 1);
    --mauve: hsla(263, 64%, 84%, 1);
    --baby-blue-eyes: hsla(215, 77%, 80%, 1);
    --non-photo-blue: hsla(195, 82%, 76%, 1);
    --electric-blue: hsla(185, 84%, 76%, 1);
    --magic-mint: hsla(167, 82%, 78%, 1);
    --celadon: hsla(126, 89%, 85%, 1);

    --color-background: var(--pink-lavender);
    --color-text: #303030;
    --color-primary: var(--magic-mint);
    --box-height: 300px;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: var(--color-background);
    background: linear-gradient(80deg, rgba(241, 192, 232, 1) 0%, rgba(142, 236, 245, 1) 100%);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

}


.container {
    display: flex;
    gap: 3ch;
    max-width: 960px;
    padding: 0 4ch;
}

.select-container {
    width: auto;
    margin-top: 12px;
    overflow: hidden;
}

.camera-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--box-height);
    min-height: var(--box-height);
    background-color: var(--mauve);
    outline: 1px solid var(--color-text);
    box-shadow: 0.9ch 0.9ch rgba(0, 0, 0, 0.8);
}

.camera-container video {
    position: absolute;
    width: var(--box-height);
    height: var(--box-height);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    /* transform: scale(2.5); */
    /* border-radius: 50%; */
    padding: 8px;
    background-color: #ffff;
    z-index: 1;

}

.camera-container canvas {
    position: absolute;
    width: var(--box-height);
    height: var(--box-height);
    /* transform: scale(2.5); */
    object-fit: cover;
    padding: 8px;
    z-index: 1;
}

.card {
    padding: 16px;
    grid-template-rows: 1fr auto;
    background-color: #fff;
    outline: 1px solid var(--color-text);
    min-height: var(--box-height);
    box-shadow: 0.9ch 0.9ch rgba(0, 0, 0, 0.8);
}



button {
    background-color: var(--cream);
}

.btn-stop {
    background-color: var(--baby-pink);
}

.btn-start {
    background-color: var(--electric-blue);
}

.button-container div {
    /* margin-top: 1rem; */
    /* margin-right: 1rem; */
}

p {
    margin-top: 1rem;
}

.button-container button {
    border: 1px solid var(--color-text);
    padding: 6px 11px;
    box-shadow: 0.5ch 0.5ch rgba(0, 0, 0, 0.8);
    transform: translate(-1px, -1px);
    transition: all .05s ease-in;
}

.button-container button:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.button-container button:active {
    transform: translate(0, 0);
    box-shadow: 0.2ch 0.2ch rgba(0, 0, 0, 0.8);
}