:root {
    --kr-cream: hsla(56, 85%, 89%, 1);
    --kr-almond: hsla(27, 92%, 90%, 1);
    --kr-baby-pink: hsla(356, 100%, 91%, 1);
    --kr-pink-lavender: hsla(311, 64%, 85%, 1);
    --kr-mauve: hsla(263, 64%, 84%, 1);
    --kr-baby-blue-eyes: hsla(215, 77%, 80%, 1);
    --kr-non-photo-blue: hsla(195, 82%, 76%, 1);
    --kr-electric-blue: hsla(185, 84%, 76%, 1);
    --kr-magic-mint: hsla(167, 82%, 78%, 1);
    --kr-celadon: hsla(126, 89%, 85%, 1);

    --kr-color-background: var(--kr-pink-lavender);
    --kr-color-text: #303030;
    --kr-color-primary: var(--kr-magic-mint);
    --kr-box-height: 300px;
}

.good-posture>*:not(#kr-posture-app-content) {
    filter: blur(0px);
    transition: ease-out 0.3s;
}

.bad-posture>*:not(#kr-posture-app-content) {
    filter: blur(4px);
    transition: ease-in 0.6s;
}

.kr-posture-app-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.posture-status-bar {
    position: fixed;
    bottom: 20px;
    right: 20px;    
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 24px;
    min-width: 100px;
    transform: translateY(1000px); 
    font-weight: bold;
    
    color: #444;
    overflow: hidden;
    z-index: 999999;
    transition: all .5s ease-out;
    user-select: none;
    outline: 1px solid #303030;
    box-shadow: 0.9ch 0.9ch rgba(0, 0, 0, 0.8);
}

.posture-status-bar.full {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 6px;
}

.posture-status-bar:hover {
    cursor: grab;
}

.good-posture .posture-status-bar {
    background-color: var(--kr-magic-mint);
    transition: all .5s ease-out;
    transform: translateY(100px);
    /* display: none; */
}

.bad-posture .posture-status-bar {
    background-color: var(--kr-pink-lavender);
    transform: translateY(0);
}